<center>
    <h5>Enter URL:</h5>
    <form action="shortened_urls/create" method="post">
        <input type="text" name="original_url" />
        <input type="submit" class="btn" value="Generate" />
    </form>
</center>